<%- include('../includes/header'); %>

  <div class="container">
    <h1>Edit Post</h1>
    <form action="/post/<%= post.id %>/edit/" method="post">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>">
      </div>
      <div class="mb-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control" id="content" rows="3" name="content"><%= post.content %></textarea>
      </div>
      <button class="btn btn-primary">
        Submit
      </button>
    </form>
  

  </div>

  <%- include('../includes/footer'); %>